<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Chat Place</title>
        <script>const roomName= "<%= roomName %>"</script>
        <script defer src ="http://18.222.217.228:3000/socket.io/socket.io.js "></script>
        <!-- <script defer src="http://localhost:3000/socket.io/socket.io.js"></script> -->
        <script defer src="canvasStroking.js"></script>
        <script defer src="script.js"></script>
        <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" rel="stylesheet">

        <link href="https://getbootstrap.com/docs/4.0/assets/css/docs.min.css" rel="stylesheet">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> 
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link href="/css/chat.css" rel="stylesheet" type="text/css">
        <style>
        #sheet {
            border: 1px solid black;
            /*width: 90vh;
            height: 80vh; */
        }
        /* set padding and size of th form */
        .form-container{
            background: #fff;
            border-radius: 10px;
            padding: 30px;
        }

        .form-elegant .font-small {
                font-size: 0.8rem; }

        .form-elegant .z-depth-1a {
                -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
                box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }
        .form-elegant .z-depth-1-half,
            .form-elegant .btn:hover {
                -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
                box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

        .modal-dialog {
                margin-top: 100px ;
        }
        #guessWord{
            margin-top: 1%;
            margin-bottom: 1%;
            margin-left:2%;
            font-style: italic;
            font-stretch: semi-expanded;
            font-size: xxx-large;
            font-weight: bolder;
            color: crimson;
            min-height:10%;
        }
        #clear-button{
            background-color: #a24caf;
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 41px;
            margin: 4px 2px;
            width: 200px;
            border-radius: 10px;
            float: right;
            margin-right: 2%;
        }
        #scorecard{
            margin-top: 1%;
            margin-bottom: 1%;
            margin-left:2%;
            font-style: italic;
            font-stretch: semi-expanded;
            font-size: xxx-large;
            font-weight: bolder;
            color: darkblue;
            min-height:10%;
        }

        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
        }
        </style>
    </head>

    <body class="bg-light" style="height: 100%;">
        <input type="hidden" name="turnId" id ="turnId" />
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar sticky" style="background-color: #7952b3; color: black;">
          <div >
            <span style="color: #f2f2f2"><b>Let's Play</b></span>
          </div>
    </header>
    <!--Need to change the style of guess word for the drawer-->
    <div style="padding:1%"></div>
    <div class="container-fluid">
        <div class="row">
            <div class = "col-8" style="position:fixed;">
                <div id="canvasDiv" > 
                    <form id ="draw-controller">
                        <!-- width="1180" height="800" -->
                        <canvas id="sheet" ></canvas>
                    </form>
                </div>
                <div id="clearBtnDiv">
                    <form id="clear-controller">
                        <button type="button" id="clear-button"> clear </button>
                    </form>
                </div>
            </div>
            <div class = "col-4" style="position:fixed;">
                <div id="guessWord"></div>
                <div id="round"></div>
                <div id="scorecard">Your Score is :0</div>
                <div id="message-holder"></div>
                <div id = "guessor-block">  
                    <form id="send-controller"> 
                        <input type ="text" id="message-input">
                        <button type="submit" id="send-button">Guess</button>    
                    </form> 
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <form id ="userVerfiyController">
    <div id="userDialog" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="myModalLabel">Enter Details to play</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" id="username" placeholder="Enter Your Name" required="true">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password" required="true">
                </div>
            </div>
            <div class="modal-footer">
                <button id = "room-entry" type="button" class="btn btn-primary">Enter Room</button>
            </div>
        </div>
        </div>
    </div>
    </form>
    <script type="text/javascript">
        //document.getElementById('message-input').style.width = window.innerWidth * .30
    </script>
    </body>
</html>