<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Chat Place</title>
        <script>const roomName= "<%= roomName %>"</script>
        <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
        <script defer src="canvasStroking.js"></script>
        <script defer src="script.js"></script>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <style>#sheet{border:1px solid black;}</style>
    </head>
    <body>
     <div id="message-holder"></div> 
    <form id = "draw-controller">
        <canvas id="sheet" width="1000" height="800"></canvas>
    </form>
    <button onclick ="clearCanvas()"> clear </button>
    <form id="send-controller">    
        <input type="text" id="message-input">
        <button type="submit" id="send-button">Send</button>    
    </form> 

    </body>
</html>