body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#message-holder {
    width: 80%;
    max-width: 1000px;
}

#message-holder div{
    background-color: #c9ebe9;
    padding: 5px;
}

#message-holder div:nth-child(2n) {
    background-color: #ecc3e2;
}

#send-controller {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    background-color: white;
    max-width: 1200px;
    width: 80%;
    display: flex;
}

#message-input {
    flex-grow: 1;
}