#message-holder {
  width: 98%;
  padding: 0 20px;
  height: 45%;
  overflow-x:auto;
}

#message-holder div{
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  overflow-x:auto;
}

#message-holder div:nth-child(2n) {
  border-color: #ccc;
  background-color: #ddd;
}

#send-controller {
    /*position: fixed;
    /*background-color: white;
    /*ax-width: 1000px;
    width: 80%;
    */
    /*display: flex;*/
}

#message-input {
    width: 80%;
    height:30px;
}